body{
    display: flex;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    align-items: center;
    justify-content: center;

}
h1{
    color:whitesmoke;
    background-color: rgb(189, 20, 20);
    outline: 1ch;
    text-align: center;
    font-style: italic;
    width: 500px;
    padding-top: 1em;
    padding-bottom: 1em;
}
#links{
    width: 500px;
    background-color: rgb(51, 64, 251);
    display: flex;
    flex-direction: column;
    
}
p{
    color: rgb(37, 37, 215);
    font-size: 3em;
    text-align: center;
    margin: 0.8em;
    border: 1em;
    border-radius: 1em;
    border-color: black;
}
a{
    color: aliceblue;
}
